$color1: #032973;
$color2: #082040;
$color3: #0d4373;
$color4: #1462a6;
$color5: #3b6488;

$text-font: arial, helvetica, sans-serif;
$text-color: whitesmoke;

@mixin flex($fd, $jc, $ai) {
  align-items: $ai;
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
}

@mixin custom-ScrollBar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color2;
    border-radius: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#details {
  @include custom-ScrollBar();
  @include flex(column, center, center);
  background: linear-gradient(0deg, $color2, $color5);
  color: $text-color;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  transition: all 0.2s;
  width: 100%;
  z-index: 5;

  section {
    max-width: 1300px;
    margin: 0 auto;
  }

  #close-details-btn {
    background-color: transparent;
    border: none;
    color: $text-color;
    font-size: 1.5rem;
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  #tables {
    @include flex(row, center, center);
    flex-wrap: wrap;
    font-family: $text-font;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 50px auto;
    width: 100%;

    caption {
      border-left: 3px solid $text-color;
      border-right: 3px solid $text-color;
      border-top: 3px solid $text-color;
      padding: 5px;
    }

    table {
      border-collapse: collapse;
      border: 2px solid $text-color;
      margin: 10px;
      width: 80%;
      min-width: 250px;
      max-width: 500px;

      td {
        border: 2px solid $text-color;
        padding: 5px;
      }
    }
  }
  #description {
    height: auto;
    p {
      width: 90%;
      font-family: $text-font;
      font-weight: bold;
      font-size: 1.2rem;
      margin: 20px auto;
      line-height: 30px;
      text-align: justify;
    }
  }
}
