@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("./gamesList.scss");
@import url("./menu.scss");
@import url("./details.scss");
@import url("./loading.scss");
@import url("./favorites.scss");

$color1: #032973;
$color2: #082040;
$color3: #0d4373;
$color4: #1462a6;
$color5: #1e82d9;

$text-color: whitesmoke;
$heading-fonts: "Keania One", cursive;

@mixin flex($fd, $jc, $ai) {
  align-items: $ai;
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(0deg, $color2, $color3);
  color: $text-color;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color4;
    border-radius: 10px;
  }
}

header {
  background-color: $color2;
  color: $text-color;
  height: 100px;
  overflow-y: visible;
  position: relative;
  width: 100%;
  h1 {
    padding-left: 10px;
  }
}

footer {
  background-color: $color1;
  color: $text-color;
  font-size: 1.3rem;
  padding: 30px;
  text-align: center;
  width: 100%;
}
main {
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: $heading-fonts;
}

#pagination {
  @include flex(row, center, center);
  margin: 100px auto 30px auto;
  width: 100%;
  button {
    border-radius: 5px;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px;
    width: 90px;
    &:hover {
      cursor: pointer;
    }
  }
}
