@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(14, 14, 27);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  font-family: "Gugi", cursive;
}

body {
  overflow: hidden;
  background-color: #0e0514;
  user-select: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Gugi", cursive;
}

#header-home {
  background-image: url("../public//background-header.jpg");
  background-size: contain;
  background-position: right center;
}

#cover-close-menu {
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(2px);
}
