@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(14, 14, 27);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  font-family: "Gugi", cursive;
}

body {
  overflow-x: hidden;
  background-color: #0e0514;
}

h1,
h2,
h3,
h4 {
  font-family: "Gugi", cursive;
}

table {
  --tw-text-opacity: 1;
  color: rgb(249 250 251 / var(--tw-text-opacity));
  margin: 20px auto;
}

thead > tr {
  width: 100%;
  column-span: 3;
}

thead > tr > th {
  column-span: 4;
  border: 1px solid gray;
  padding: 5px;
}

td,
th,
tr {
  border: 1px solid gray;
  padding: 10px;
}

#header-home {
  background-image: url("./assets/background-header.jpg");
  background-size: contain;
  background-position: right center;
}

#cover-close-menu {
  background-color: rgba(0, 0, 0, 0.349);
  backdrop-filter: blur(2px);
}

#spinner {
  animation: spin 1s infinite;
}

#header-game-page {
  background-image: url("./assets/bg-gamepage.jpg");
  background-size: cover;
  background-position: center center;
}

div#cover-loading {
  background: rgba(0, 0, 0, 0.486);
  backdrop-filter: blur(5px);
}

@keyframes spin {
  0% {
    transform: rotate(20deg);
  }
  5% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
